.App {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.title {
  color: white;
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: #eb9928; */
  padding-top: 10px;
}

.sidebar {
  position: relative;
  width: 15vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: #2f4858;
  box-sizing: border-box;
  text-align: center;
}

.sidebarItem {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
  background-color: #5f788a;
  margin: 5px;
  border-radius: 10px;
}

.sidebarItem:hover {
  background-color: white;
  color: black;
}

.sidebar:n1:hover {
  background-color: yellow;
  color: black;
}

.summary {
  width: 90vw;
}

.header {
  background-color: blue;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

.bargraph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
